<a href="https://colab.research.google.com/github/Jacquedelest/Data-Penumpang-Bus-Jakarta-2021/blob/main/Analisa%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
#membaca dataset
penumpang = pd.read_excel("Data Penumpang Bus Jakarta 2021.xlsx", sheet_name=0)
#hapus kolom tipe operasi
penumpang = penumpang.drop(columns="Tipe Operasi")
#groupby data berdasarkan Area Operasi
penumpang = penumpang[["Jumlah Bus", "Jumlah Penumpang"]].groupby(penumpang["Area Operasi"]).sum()
penumpang

                Jumlah Bus  Jumlah Penumpang
Area Operasi
BEKASI                 462             14720
BOGOR                  322              9925
DEPOK                  210              7136
JAKARTA                619             26450
RS Wisma Atlet         373              4671
TANGERANG              243              6865