<a href="https://colab.research.google.com/github/Jacquedelest/Jacquedelest/blob/main/data_penumpang_januari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import pandas as pd 
import numpy as np
#membaca dataset dan menyimpannya ke dalam dataframe
data_penumpang = pd.read_csv("data-penumpang-bus-sekolah-bulan-januari.csv")
#mengisi row kosong dengan nilai 0.0
data_penumpang = data_penumpang.fillna(0.0)
#mengubah tipedata kolom jumlah_bus dan jumlah_penumpang dari float ke integer
data_penumpang[["jumlah_bus", "jumlah_penumpang"]] = data_penumpang[["jumlah_bus", "jumlah_penumpang"]].apply(np.int64)
#menghapus row yang terdapat nilai 0
data_penumpang = data_penumpang[data_penumpang['jumlah_bus'] != 0]
data_penumpang

                    type_operasi    area_operasi  jumlah_bus  jumlah_penumpang
0                RSUD CENGKARENG         JAKARTA         125              5203
2                RSUD CENGKARENG           DEPOK          30               692
3                RSUD CENGKARENG       TANGERANG          70              1232
4                RSUD CENGKARENG          BEKASI          24               233
5               RSUD DUREN SAWIT         JAKARTA          95              4887
..                           ...             ...         ...               ...
436              Puskesmas Tebet  RS Wisma Atlet           1                17
437  Puskesmas Grogol Petamburan  RS Wisma Atlet           1                11
438          Puskesmas Kemayoran  RS Wisma Atlet           1                 9
439         Puskesmas Pulogadung  RS Wisma Atlet           1                10
440            Puskesmas Ciracas  RS Wisma Atlet           1                31

[412 rows x 4 columns]

In [73]:
"Menyimpan Dataframe ke dalam Excel"
writer = pd.ExcelWriter('data_penumpang.xlsx')
# write dataframe to excel sheet named 'marks'
data_penumpang.to_excel(writer, 'data_penumpang')
# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.